<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FFmpegWasm in Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-lightning" aria-hidden="true"></span> Transcode
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AlternateSourceExample" Match="NavLinkMatch.Prefix">
                <span class="bi bi-lightning" aria-hidden="true"></span> Using unpkg.com CDN
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="VideoToGif" Match="NavLinkMatch.Prefix">
                <span class="bi bi-lightning" aria-hidden="true"></span> Video To Gif
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddSubtitles" Match="NavLinkMatch.Prefix">
                <span class="bi bi-lightning" aria-hidden="true"></span> Add Subtitles
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExtractVideoFrames" Match="NavLinkMatch.Prefix">
                <span class="bi bi-lightning" aria-hidden="true"></span> Extract Video Frames
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RealTimeVideoProcessing" Match="NavLinkMatch.Prefix">
                <span class="bi bi-lightning" aria-hidden="true"></span> Realtime Processing
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MultipleExamples" Match="NavLinkMatch.Prefix">
                <span class="bi bi-lightning" aria-hidden="true"></span> More Demos
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="https://github.com/LostBeard/SpawnDev.BlazorJS.FFmpegWasm" target="_blank" Match="NavLinkMatch.Prefix">
                <span class="bi bi-link" aria-hidden="true"></span> GitHub Repo
            </a>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="https://github.com/ffmpegwasm/ffmpeg.wasm" target="_blank" Match="NavLinkMatch.Prefix">
                <span class="bi bi-link" aria-hidden="true"></span> ffmpeg.wasm Repo
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
